body{
    background-color: #efefef;
    color:#393939
}

*{
    margin: 0;
    font-family: 'Releway,sans-serif';
}

h3{
    margin: 24px 0;
}

button{
    border: none;
    background-color: transparent;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
} 

#container{
    max-width: 500px;
    margin: 0 auto;
}

div.alert{
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px -4px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

.icon{
    margin: 8px 20px ;
}

.alert_container{
    display: flex;
}

.alert_container::before{
    content: "";
    min-width: 6px;
    background-color: #0090d7;
    border-radius: 50px;
}

div.warming .alert_container::before{
    background-color: #d20d38;
}

div.danger .alert_container::before{
    background-color: #e8ac00;
}

.alert_details{
    padding: 12px 0;
}

.alert_details p{
    font-size: 14px;
    margin-bottom: 12px;
}

.alert_details p:first-child{
    font-size: 16px;
    font-weight: bold;
}

button[dissabled]{
    color: gray;
    cursor: not-allowed;
}

button[class*="info"]{
    color: #0090d7;
}

button[class*="danger"]{
    color: #e8ac00;
}

h3.dark-mode + .alert{
    color: white;
    background-color: #393939;
}

