img{
    width: 100%;
    border-radius: 12px;
    height:214px ;
    object-fit: cover;
}

body{
    background-color: #EAEFF1;
    font-family: sans-serif;
}

#container{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
}

.card{
    background-color: white;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #BACDD8;
}

.tag{
    padding: 4px 8px;
    border: 1px solid #E5EAED;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
}

.name{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

p{
    line-height: 150%;
    color:#7F8C9B;
    font-size: 14PX;
}

button{
    color:#0077FF ;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    background-color:#E0EFFF ;
    margin: 0 auto;
    display: block;
    transition: all 200ms case-in-out;
    cursor: pointer;
}

button:focus,button:hover{
    background-color: #0077FF;
    color: #E0EFFF;
}

.card_detail{
    padding:16px 8px 8px8px ;
}