*{
    box-sizing: border-box;
 }
 body{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #333;
     background-color: snow;
     margin: 0 auto;
     max-width: 1000px;
 }
 .task-1.container{
     display: grid;
     height: 100vh;
     grid-template-rows: auto 1fr auto ;
 }
 .item{
     border: 2px solid tomato;
     padding: 8px;
     border-radius: 6px;
     box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
     background-color: white;
 }

 .task-2.container{
     display: grid;
     height: 100vh;
     grid-template-columns: repeat(12,1fr);
     align-items: center;
     grid-gap: 12px;
 }

 .task-2 .item-1{
     grid-column-start: 2;
     grid-column-end: 6;
 } 

 .task-2 .item-2{
     grid-column: 6 / span 6;
 }

 .task-3-1.container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 24px;
}

@media(min-width: 720px){
    .task-3-1.container{
        grid-template-columns: repeat(12, 1fr);
    }

    .task-3-1 .header{
        grid-column: 1 / span 12;
    }

    .task-3-1 .navigation{
        grid-column: 1 / span 12;
    }

    .task-3-1 .main{
        grid-column: 3 / span 10;
    }

    .task-3-1 .sidebar{
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .task-3-1 .ads{
        grid-column: 1 / span 2;
    }

    .task-3-1 .footer{
        grid-column: 3 / span 10;
    }
}